In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Some of the popular languages that Data Scientists use
# Some of the commonly used libraries used by Data Scientists
# a simple arithmetic expression to mutiply then add integers

In [ ]:
# Some of the popular languages that Data Scientists use are: python, R, SQL

In [ ]:
# Some of the commonly used libraries used by Data Scientists include: numpy, pandas, scipy

In [4]:
Data_Science_Tools <- list('Data Science Tools', 'Anaconda', 'Pycharm', 'Flask')

In [ ]:
# Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

[1] 17

In [7]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

[1] 3.333333

In [ ]:
Author
Siyang Lv